.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); /* Черный с непрозрачностью */
}
.picture {
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.picture:hover {
    transform: scale(1.1);
}
.modalclose  {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modalclose :hover,
.modalclose :focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.modalimg {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/*Task2*/
.tabs {
    margin: 50px;
    display: flex;

}
.tab {
    cursor: pointer;
    padding: 10px;
    border: 1px solid darkblue;
    color: mediumblue;
    background: antiquewhite;
    margin-right: 5px;
}
.content {
    display: none;
    margin: 50px;
    color: darkblue;
}